.cardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap:2vw;
    background-color: rgb(25, 25, 25);
}



.cardDiv{
    width: 23vw;
    /* height: 20vw; */
    background-color: rgb(25, 25, 25);
    border-bottom: 1px solid rgb(57, 57, 57) ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.imgDiv{
    width: 22.7vw;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 10px;
    background-color: rgb(57, 57, 57);
    display: flex;
    justify-content: center;
    
}

.imgDiv > img{
    width: 15vw;
}

.cardDiv > b{
    font-size: 0.9vw;
    margin: 10px 0px;
    /* border: 1px solid; */
    margin: 2% 0%;
}

.discount{
    width: fit-content;
    background-color: rgb(1, 189, 101);
    border-radius: 10px;
    padding: 3px 10px;
}

.cardDiv > h6{
    margin: 2% 0%;
    opacity: 70%;
}

.cardDiv > h3{
    margin:2% 0%
}

.shipping{
    font-size: 0.8vw;
}

.warranty{
    width: fit-content;
    font-size: 1vw;
    background-color:rgb(207, 255, 243);
    color:rgb(74, 182, 176);
    padding:5px 10px;
    border-radius: 10px;
}