  .bottom{
    max-width:99vw;
    background-color: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
  }
  
  .footer{
    min-width:75vw;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1d1d1d;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .footer > div {
   width: 25vw;
   padding: 2vw;
  }
  
  .footerDivOne{
    display: flex;
    flex-direction: column;
  }

  input[type="text"]:focus {
    outline: none;
  }
  
  
  .contactIcons{
    width: 75%;
    font-size: 1.8vw;
    display: flex;
    justify-content: space-around;
  }

  /* .usefulListDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
    border:1px solid red;
  } */

  /* .productDiv{

  } */
  
  .footerList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footerList > ul {
    width:8vw;
    display: flex;
    flex-direction: column;
    
  }
  
  .footerList >ul > li{
    padding :5px 0px;
    width: 11vw;
    margin-left: -40px;
  }
  
  .footerList >ul > li:hover{
    color: rgb(7, 187, 157);
  }